.one {
    background: blue;
    height: 80px;
}

.two {
    background-image: url('http://orig12.deviantart.net/97f5/f/2013/088/4/f/clean_blur_hd_background_by_speetix-d5zpor8.jpg');
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.three {
    background: darkgreen;
    height: 400px;
}

.four {
    background: orange;
    height: 300px;
}

.container {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }
}